/*color: #557716;
*/

* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex-container-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
}

hr {
  color: rgb(230, 255, 230);
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: rgb(100, 141, 36);
}

a:hover {
  text-decoration: underline;
}

.header .imgContainer {
  flex: 1;
}

.header .imgContainer img {
  height: 8vh;
}

.header .imgContainer div:nth-of-type(2) {
  flex: 1;
}

.header .imgContainer div:nth-of-type(2) div:nth-of-type(1) {
  width: 24vh; /* 24 = 3 * 8. Indeed vh, not vw! */
  background-image: url("../assets/images/bv-header-center.png");
  background-repeat: no-repeat;
  background-size: auto 8vh;
}

.header .imgContainer div:nth-of-type(2) div:nth-of-type(2) {
  flex: 1;
  background-image: url("../assets/images/bv-header-right.png");
  background-repeat: repeat-x;
  background-size: auto 8vh;
}

.header .menu {
  width: 100%;
  align-items: flex-end;
  color: white;
  margin-top: -8px;
  padding-top: -8px;
  padding-bottom: 4px;
  background-color: rgb(100, 141, 36);
}

.header .menu div:nth-of-type(1) {
  width: 23%;
  text-align: left;
  padding-left: 0.3%;
}

.header .menu div:nth-of-type(2) {
  width: 54%;
  text-align: center;
}

.header .menu div:nth-of-type(3) {
  width: 23%;
  text-align: right;
  padding-right: 0.5%;
}

.header .menu a {
  color: white;
}

.selectedLanguage {
  color: rgb(170, 240, 85);
}

.body {
  border-bottom: 5px solid rgb(100, 141, 36);
}

.col {
  height: 72vh;
  overflow-y: scroll;
}

@media all and (min-height: 400px)
{
  .col { height: 81vh; }
}

@media all and (min-height: 650px)
{
  .col { height: 84vh; }
}

@media all and (min-height: 860px)
{
  .col { height: 86vh; }
}

.col-left {
  width: 100%;
  padding-right: 6px;
}

.col-right {
  width: 0%;
}

.bv-email {
  display: none;
}

.selectedLanguage {
  display: none;
}

.selectedLanguagePipe {
  display: none;
}

@media all and (min-width: 568px)
{
  .selectedLanguage {
    display: initial;
  }
  .selectedLanguagePipe {
    display: initial;
  }
  .col-left { width: 60%; }
  .col-right { width: 40%; }
}

@media all and (min-width: 850px)
{
  .bv-email {
    display: initial;
  }
  .col-left { width: 50%; }
  .col-right { width: 50%; }
}

@media all and (min-width: 1050px)
{
  .col-left { width: 40%; }
  .col-right { width: 60%; }
}

@media all and (min-width: 1300px)
{
  .col-left { width: 30%; }
  .col-right { width: 70%; }
}

@media all and (min-width: 1500px)
{
  .col-left { width: 25%; }
  .col-right { width: 75%; }
}

.searchTextContainer input {
  flex: 1;
}

.distanceContainer input {
  flex: 1;
}

.sortContainer div:nth-of-type(1) {
  width: 55%;
}

.sortContainer div:nth-of-type(2) {
  width: 45%;
  text-align: right;
}

.locationHeadingContainer h1 {
  flex: 1;
}

.locationHeadingContainer div {
  text-align: right;
}

.addressWithDistanceContainer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.addressWithDistanceContainer div:nth-of-type(1) {
  width: 83%;
}

.addressWithDistanceContainer div:nth-of-type(2) {
  width: 17%;
  text-align: right;
}

.feature-col label {
  display: block;
}

.fullMapView {
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.infoWindow {
  font-size: initial;
}

.infoWindow h1 {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.infoWindow h2 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: -12px;
}

.error {
  color: red;
}

label {
  font-weight: normal;
  white-space: nowrap;
}