@import "variables";

main {
    flex: 1;
    min-height: 0;
    display: flex;
}

nav {
    background-color: $bv-green;
    margin-top: 0;
    padding-top: 0.8em;

    ul {
        list-style-type: none;
        margin: 0;
        margin-left: 0.2em;
        padding: 0;

        li {
            display: inline;
            text-transform: uppercase;
            font-size: 1.18em;
        }

        li:last-of-type::before {
            color: white;
            content: '|'
        }
    }
    
    a {
        color: white;
    }

    a:hover {
        text-decoration: none;
        background-color: $bright-green;
    }

    a.disabled {
        color: $very-bright-green;
        font-weight: bold;
        pointer-events: none;
        cursor: default;
    }
}

hr {
    color: rgb(230, 255, 230);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr.fat {
    border: none;
    background-color: $bv-green;
    height: 3px;
}

.sortAndStatisticsContainer {
    margin-top: 1em;
    margin-bottom: 1em;
}

app-sort {
    width: 55%;
}

app-statistics {
    width: 45%;
}

.col-left {
    width: 100%;
    padding-right: 6px;
    overflow-y: scroll;
  }

.col-right {
    width: 0%;
}

@media #{$min-width-1} {
    .col-left { width: 60%; }
    .col-right { width: 40%; }
}

@media #{$min-width-2} {
    .col-left { width: 50%; }
    .col-right { width: 50%; }
}

@media #{$min-width-3} {
    .col-left { width: 40%; }
    .col-right { width: 60%; }
}

@media #{$min-width-4} {
    .col-left { width: 30%; }
    .col-right { width: 70%; }
}

@media #{$min-width-5} {
    .col-left { width: 25%; }
    .col-right { width: 75%; }
}

.fullHeightMap {
    height: 100%;
}

.infoBox {
    height: 42%;
}

.reducedHeightMap {
    height: 58%;
}

@media #{$min-height-1} {
    .infoBox { height: 39%; }
    .reducedHeightMap { height: 61%; }
}

@media #{$min-height-2} {
    .infoBox { height: 36%; }
    .reducedHeightMap { height: 64%; }
}

@media #{$min-height-3} {
    .infoBox { height: 33%; }
    .reducedHeightMap { height: 67%; }
}

.fullMapView {
    width: 100%;
}
