<div>
    <app-header
        [fullMapView]="fullMapView"
        (searchClick)="scrollSearchIntoView()"
        (fullMapViewClick)="enableFullMapView()"
    ></app-header>
    <main class="flex-container-nowrap">
        <div class="col-left" [hidden]="fullMapView">
            <div #preSearchDiv></div>
            <nav>
                <ul>
                    <li>
                        <a routerLink="/gastro" [class.disabled]="isGastro" (click)="init('gastro')"
                        >{{i18n.locationSwitch.gastro}}</a>
                    </li>
                    <li>
                        <a routerLink="/shopping" [class.disabled]="!isGastro" (click)="init('shopping')"
                        >{{i18n.locationSwitch.shopping}}</a>
                    </li>
                </ul>
            </nav>
            <app-search
                (queryChange)="onQueryChange($event)"
                (coordinatesChange)="onCoordinatesChange($event)"
                (coordinatesHighlightRequest)="onCoordinatesHighlightRequest()"
            ></app-search>
            <hr/>
            <div class="sortAndStatisticsContainer flex-container-nowrap">
                <app-sort
                    [initialSortOrder]="initialSortOrder"
                    [isDistanceEnabled]="!!coordinates"
                    (sortOrderChange)="onSortOrderChange($event)"
                ></app-sort>
                <app-statistics
                    [allLocationsCount]="allLocations.length"
                    [filteredLocationsCount]="filteredLocations.length"
                ></app-statistics>
            </div>
            <hr class="fat"/>
            <app-results-list
                [locations]="filteredLocations"
                [coordinates]="coordinates"
                (locationSelect)="onLocationSelectInResultsList($event)"
            ></app-results-list>
        </div>
        <div class="col-right" [ngClass]="{fullMapView: fullMapView}">
            <app-google-map
                [locations]="filteredLocations"
                [coordinates]="coordinates"
                (locationSelect)="onLocationSelectInGoogleMap($event)"
            ></app-google-map>
        </div>
    </main>
</div>
