<div>
    <app-header
        [fullMapView]="fullMapView"
        (searchClick)="scrollSearchIntoView()"
        (fullMapViewClick)="enableFullMapView()"
        (swipeleft)="onSwipeleft()"
        (swiperight)="onSwiperight()"
    ></app-header>
    <main class="flex-container-nowrap">
        <div class="col-left" [hidden]="fullMapView" (swipeleft)="onSwipeleft()">
            <div #preSearchDiv></div>
            <nav>
                <ul>
                    <li>
                        <a routerLink="/gastro" [class.disabled]="isGastro" (click)="init('gastro')"
                        >{{i18n.locationSwitch.gastro}}</a>
                    </li>
                    <li>
                        <a routerLink="/shopping" [class.disabled]="!isGastro" (click)="init('shopping')"
                        >{{i18n.locationSwitch.shopping}}</a>
                    </li>
                </ul>
            </nav>
            <app-search
                (queryChange)="onQueryChange($event)"
                (placeHighlightRequest)="onPlaceHighlightRequest()"
            ></app-search>
            <hr/>
            <div class="sortAndStatisticsContainer flex-container-nowrap">
                <app-sort
                    [isDistanceEnabled]="!!query?.distance?.place?.coordinates"
                    [initialSortOrder]="initialSortOrder"
                    (sortOrderChange)="onSortOrderChange($event)"
                ></app-sort>
                <app-statistics
                    [allLocationsCount]="allLocations.length"
                    [filteredLocationsCount]="filteredLocations.length"
                ></app-statistics>
            </div>
            <hr class="fat"/>
            <div *ngIf="isInitializing">
                <span class="fas fa-spinner fa-spin" aria-hidden="true"></span>
                {{i18n.loadingLocations}}
            </div>
            <app-results-list [hidden]="isInitializing"
                [locations]="filteredLocations"
                [coordinates]="query?.distance?.place?.coordinates"
                (locationSelect)="onLocationSelectInResultsList($event, false)"
                (locationCenter)="onLocationSelectInResultsList($event, true)"
            ></app-results-list>
        </div>
        <div class="col-right" [ngClass]="{fullMapView: fullMapView}">
            <div *ngIf="isInitializing"
                class="big-spinner"
                [title]="i18n.loadingLocations"
                [attr.aria-label]="i18n.loadingLocations"
            >
                <span class="fas fa-spinner fa-spin" aria-hidden="true"></span>
            </div>
            <div [hidden]="isInitializing">
                <div [ngClass]="isInfoBoxVisible ? 'reducedHeightMap' : 'fullHeightMap'">
                    <app-google-map
                        [locations]="filteredLocations"
                        [coordinates]="query?.distance?.place?.coordinates"
                        (locationSelect)="onLocationSelectInGoogleMap($event)"
                    ></app-google-map>
                </div>
                <div *ngIf="isInfoBoxVisible" class="infoBox">
                    <app-info-box
                        [location]="selectedLocation"
                        [coordinates]="query?.distance?.place?.coordinates"
                        (centerLocation)="onLocationCenterInInfoBox()"
                        (close)="onInfoBoxClose()"
                        (swiperight)="onSwiperight()"
                    ></app-info-box>
                </div>
            </div>
        </div>
    </main>
</div>
