div {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    button {
        position: absolute;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    &::ng-deep {
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }
    }
}
