div {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    button {
        position: absolute;
        background-color: transparent;
        border: none;
        margin-top: -1px;
        margin-right: 2px;

        @supports (-moz-appearance: none) { // It is Firefox.
            margin-top: -2px;
            margin-right: 0;
        }

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // It is IE.
            margin-top: -9px;
        }
    }

    &::ng-deep {
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }
    }
}
