// Keep these in sync with configuartion.service.ts!

$bv-green: rgb(100, 141, 36);
$bright-green: rgb(130, 175, 55);
$very-bright-green: rgb(210, 255, 155);
$side-padding: 6px;
$min-width-1: "all and (min-width: 568px)";
$min-width-2: "all and (min-width: 655px)";
$min-width-3: "all and (min-width: 740px)";
$min-width-4: "all and (min-width: 1080px)";
$min-width-5: "all and (min-width: 1210px)";
$min-width-6: "all and (min-width: 1380px)";
$min-width-7: "all and (min-width: 1600px)";
$min-width-8: "all and (min-width: 1915px)";
$min-height-1: "all and (min-height: 800px)";
$min-height-2: "all and (min-height: 900px)";
$min-height-3: "all and (min-height: 1000px)";
$min-height-4: "all and (min-height: 1100px)";
