// Keep these in sync with configuartion.service.ts!

$bv-green: rgb(100, 141, 36);
$bright-green: rgb(130, 175, 55);
$very-bright-green: rgb(170, 240, 85);
$min-width-1: "all and (min-width: 568px)";
$min-width-2: "all and (min-width: 710px)";
$min-width-3: "all and (min-width: 1050px)";
$min-width-4: "all and (min-width: 1300px)";
$min-width-5: "all and (min-width: 1500px)";
$min-height-1: "all and (min-height: 500px)";
$min-height-2: "all and (min-height: 700px)";
$min-height-3: "all and (min-height: 900px)";
