@import "variables";

* {
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

html, body { height: 100%; }

body {
    margin-top: 0;
    margin-bottom: 0;
    // ng add @angular/material wanted these, but we do not want them:
    // margin: 0;
    // font-family: "Roboto", sans-serif;
}

@supports (-moz-appearance: none) { // It is Firefox.
    // Make these elements zoomable in Firefox:
    input, button, select, option, textarea {
        font-size: 0.9em; // 0.9em seems to be the default.
    }
}

app-main > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
  This media query essentially asks for IE using a trick.
  The adjustments make the layout in IE less horrible.
  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
        margin-top: 2vh;
    }

    app-main > div {
        height: 98vh;
    }
}

.flex-container-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
  }

a {
    text-decoration: none;
    color: $bv-green;
}

a:hover {
    text-decoration: underline;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

h1 {
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

select {
    margin-left: 0.3em;
}

.error, .warning {
    color: red;
}

// Class from Google Maps API
.gm-style-iw {
    font-size: initial !important; // Reset
    font-weight: normal !important; // Reset
}

// Material Menu:
.mat-menu-panel {
    max-width: 100% !important;
}
