@import "variables";

* {
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

html, body { height: 100%; }

body {
    margin: 0;
    // ng add @angular/material wanted this, but we do not want it:
    // font-family: "Roboto", sans-serif;
}

main {
    padding-left: $side-padding;
    padding-right: $side-padding;
}

@supports (-moz-appearance: none) { // It is Firefox.
    // Make these elements zoomable in Firefox:
    input, button, select, option, textarea {
        font-size: 0.9em; // 0.9em seems to be the default.
    }
}

app-main {
    height: 100vh;
}

// The adjustments make the layout in IE less horrible.
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // It is IE.
    body {
        margin-top: 2vh;
    }

    app-main {
        height: 98vh;
    }
}

.flex-container-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
  }

a {
    text-decoration: none;
    color: $bv-green;
}

a:hover {
    text-decoration: underline;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

h1 {
    font-size: 1.3em;
    font-weight: 500;
}

select {
    margin-left: 0.3em;
}

.error, .warning {
    color: red;
}

// Class from Google Maps API
.gm-style-iw {
    font-size: initial !important; // Reset
    font-weight: normal !important; // Reset
}

// Material Menu:
.mat-menu-panel {
    max-width: 100% !important;

    a {
        color: $bv-green; // So links have the correct color again.
    }
}

// Larger text inputs on touch devices.
// pointer is not universally supported, and -moz-touch-enabled is just for Mozilla,
// so we also assume a touch device when the width is really small.
@media (pointer: coarse),
(-moz-touch-enabled),
screen and (max-width: 480px) and (orientation: portrait),
screen and (max-width: 640px) and (orientation: landscape) {
    input[type=text], input[type=search] {
        padding: 0.5em
    }
}

input[type=range] {
    &::-moz-range-thumb {
        background-color: $bv-green;
        height: 1.4em;
        width: 0.8em;
        border: none;
        border-radius: 0 0 1000px 1000px;

        &:hover {
            background-color: black;
        }

        &:active {
            background-color: lightgray;
        }
    }

    &::-moz-range-track {
        background: lightgray;
    }

    &::-ms-thumb {
        background-color: black;
        border: none;
        height: 0.7em;
        width: 0.7em;
    }

    &::-ms-track {
        background-color: lightgray;
        border: none;
        height: 0.7em;
        color: transparent; // Removes the markers.
    }

    &::-ms-fill-lower {
        background-color: $bright-green;
        border: none;
        height: 0.7em;
    }
}
