<a mat-button [matMenuTriggerFor]="menu" href="" (click)="$event.preventDefault()" role="button"
>{{location.address}}</a>
<mat-menu #menu="matMenu">

    <a
        mat-menu-item
        href="{{googleMapsSearchUrl}}"
        target="_blank"
        rel="noopener"
    >
        <span class="fas fa-map-marker-alt" aria-hidden="true"></span>&nbsp;&nbsp;
        {{i18n.address.locationInGoogleMaps}}
    </a>

    <a *ngIf="googleMapsDirectionsUrl; else noGoogleMapsDirections"
        mat-menu-item
        href="{{googleMapsDirectionsUrl}}"
        target="_blank"
        rel="noopener"
    >
        <span class="fas fa-route" aria-hidden="true"></span>&nbsp;&nbsp;
        {{i18n.address.directionsInGoogleMaps}}
    </a>
    <ng-template #noGoogleMapsDirections>
        <span mat-menu-item disabled class="unavailable">
            <span class="fas fa-route" aria-hidden="true"></span>&nbsp;&nbsp;
            {{i18n.address.directionsInGoogleMaps}} ({{i18n.address.geolocationRequired}})
        </span>
    </ng-template>

    <a *ngIf="bvgDirectionsUrl; else noBvgDirections"
        mat-menu-item
        href="{{bvgDirectionsUrl}}"
        target="_blank"
        rel="noopener"
    >
        <span class="fas fa-subway" aria-hidden="true"></span>&nbsp;&nbsp;
        {{i18n.address.publicTransport}}
    </a>
    <ng-template #noBvgDirections>
        <span mat-menu-item disabled class="unavailable">
            <span class="fas fa-subway" aria-hidden="true"></span>&nbsp;&nbsp;
            {{i18n.address.publicTransport}} ({{i18n.address.geolocationRequired}})
        </span>
    </ng-template>
</mat-menu>
