@import "variables";

* {
    border-radius: 12px;
    padding-left: 0.4em;
    padding-right: 0.4em;
    color: white;
    background-color: $bv-green;
    text-align: center;
    font-size: initial;
    font-weight: initial;
}
