<div class="main">
    <header class="flex-container-wrap">
        <div class="imgContainer flex-container-nowrap">
            <div>
                <a href="https://www.berlin-vegan.de/">
                    <img src="assets/images/bv-header-left.png"/>
                </a>
            </div>
            <div class="flex-container-nowrap">
                <div></div>
                <div></div>
            </div>
        </div>
        <nav class="flex-container-nowrap">
            <div>
                <button title="{{i18n.header.searchButtonTitle}}" ng-click="scrollSearchIntoView()">
                    <span class="fa fa-search"></span>
                </button>
                <button title="{{i18n.header.fullMapViewbuttonTitle}}" ng-click="enableFullMapView()" ng-disabled="fullMapView">
                    <span class="fa fa-map-o"></span>
                </button>
            </div>
            <ul>
                <li>
                    <a href="https://www.berlin-vegan.de/">Berlin&#8209;Vegan</a>
                </li>
                <li>
                    <a href="https://www.berlin-vegan.de/bv-guide/"><span class="mobile">Mobile&nbsp;</span>App</a>
                </li>
                <li>
                    <a href="https://data.berlin-vegan.de/gastro-submit/">{{i18n.header.reportNewLocation}}</a>
                </li>
                <li>
                    <a href="mailto:karte@berlin-vegan.de">{{i18n.header.reportProblem}}</a>
                </li>
            </ul>
            <ul>
                <li>
                    <span ng-show="language === 'de'" class="selectedLanguage">{{i18n.header.language.de}}</span>
                    <a ng-show="language !== 'de'" href="#" ng-click="setLanguage($event, 'de')">{{i18n.header.language.de}}</a>
                </li>
                <li>
                    <span ng-show="language === 'en'" class="selectedLanguage">{{i18n.header.language.en}}</span>
                    <a ng-show="language !== 'en'" href="#" ng-click="setLanguage($event, 'en')">{{i18n.header.language.en}}</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="flex-container-nowrap">
        <div class="col-left" ng-hide="fullMapView" >
            <div id="pre-search-div"></div>
            <form name="form" novalidate>
                <section class="searchTextContainer flex-container-wrap">
                    <input type="text" ng-model="query.text" placeholder="{{i18n.search.text.placeholder}}" ng-change="updateMarkers()"/>
                    <label>
                        <input type="checkbox" ng-model="query.textAppliesToNamesOnly" ng-change="updateMarkers()"/>{{i18n.search.text.namesOnly}}
                    </label>
                </section>
                <section class="flex-container-wrap">
                    <h1>{{i18n.category.header}}</h1>
                    <div class="flex-container-wrap">
                        <label ng-repeat="veganCategory in veganCategories" title="{{i18n.enums.veganCategory.verbose[veganCategory]}}">
                            <input type="checkbox" ng-model="query.veganCategories[veganCategory]" ng-change="updateMarkers()"
                            /><span ng-style="{'border-bottom': '3px dotted ' + getColor(veganCategory)}">{{i18n.enums.veganCategory.concise[veganCategory]}}</span>
                        </label>
                    </div>
                </section>
                <section class="flex-container-wrap">
                    <h1>{{i18n.tag.header}}</h1>
                    <div class="flex-container-wrap">
                        <label ng-repeat="tag in tags">
                            <input type="checkbox" ng-model="query.tags[tag]" ng-change="updateMarkers()"/>{{i18n.enums.tag[tag]}}
                        </label>
                    </div>
                </section>
                <section class="flex-container-wrap">
                    <div class="feature-col">
                        <label><input type="checkbox" ng-model="query.organic" ng-change="updateMarkers()"/>{{i18n.features.organic}}</label>
                        <label><input type="checkbox" ng-model="query.dog" ng-change="updateMarkers()"/>{{i18n.features.dog}}</label>
                        <label><input type="checkbox" ng-model="query.handicappedAccessible" ng-change="updateMarkers()"/>{{i18n.features.handicappedAccessible}}</label>
                        <label><input type="checkbox" ng-model="query.delivery" ng-change="updateMarkers()"/>{{i18n.features.delivery}}</label>
                        <label><input type="checkbox" ng-model="query.wlan" ng-change="updateMarkers()"/>{{i18n.features.wlan}}</label>
                    </div>
                    <div class="feature-col">
                        <label><input type="checkbox" ng-model="query.glutenFree" ng-change="updateMarkers()"/>{{i18n.features.glutenFree}}</label>
                        <label><input type="checkbox" ng-model="query.childChair" ng-change="updateMarkers()"/>{{i18n.features.childChair}}</label>
                        <label><input type="checkbox" ng-model="query.handicappedAccessibleWc" ng-change="updateMarkers()"/>{{i18n.features.handicappedAccessibleWc}}</label>
                        <label><input type="checkbox" ng-model="query.catering" ng-change="updateMarkers()"/>{{i18n.features.catering}}</label>
                        <label><input type="checkbox" ng-model="query.review" ng-change="updateMarkers()"/>{{i18n.features.review}}</label>
                    </div>
                </section>
                <section class="flex-container-wrap">
                    <h1>{{i18n.openingTimes.header}}</h1>
                    <div>
                        <span ng-hide="query.openNow">
                            <select ng-model="query.openAtWeekDay" ng-change="updateMarkers()">
                                <option value="all">{{i18n.enums.weekday.all}}</option>
                                <option ng-repeat="i in [1, 2, 3, 4, 5, 6, 0]" value="{{i}}">{{i18n.enums.weekday[i + ""]}}</option>
                            </select>
                            <input 
                                name="openAtTimeInput" 
                                type="time" 
                                ng-model="query.openAtTime" 
                                placeholder="{{i18n.openingTimes.timePlaceholder.notOpenNow}}" 
                                ng-disabled="query.openAtWeekDay === 'all'" 
                                ng-change="updateMarkers()" 
                                size="15" 
                                maxlength="5"
                            />
                        </span>
                        <span ng-show="query.openNow">
                            <select ng-disabled="true">
                                <option>-{{i18n.enums.weekday.today}}-</option>
                                <option>{{i18n.enums.weekday.all}}</option><!-- So this select element gets the same size as the "real" select element.-->
                            </select>
                            <input type="time" placeholder="{{i18n.openingTimes.timePlaceholder.openNow}}" ng-disabled="true" size="15"/>
                        </span>
                        <label>
                            <input type="checkbox" ng-model="query.openNow" ng-change="updateMarkers()"/>{{i18n.openingTimes.nowCheckbox}}
                        </label>
                        <span class="error" ng-show="form.openAtTimeInput.$error.time">{{i18n.openingTimes.invalidTime}}</span>
                    </div>
                </section>
                <section ng-show="geolocation.supported">
                    <div>
                        <label>
                            <input type="checkbox" ng-model="geolocation.show" ng-change="updateGeolocationMarker()"/>
                            <span ng-hide="geolocation.marker.map">{{i18n.geolocation.header}}</span>
                            <a ng-show="geolocation.marker.map" href="#" ng-click="openInfoWindow($event, geolocation.marker)">{{i18n.geolocation.header}}</a>
                        </label>
                    </div>
                    <div>
                        <img ng-show="geolocation.info === '{{i18n.geolocation.detecting}}'" src="assets/images/ajax-loader.gif"/>
                        <span ng-bind="geolocation.info"></span>
                        <span ng-bind="geolocation.error" class="error"></span>
                    </div>
                    <div class="distanceContainer flex-container-wrap" ng-show="geolocation.marker.map">
                        <label>
                            <input type="checkbox" ng-model="query.distance.enabled" ng-change="updateMarkers()"/>{{i18n.geolocation.distance}}:
                        </label>
                        <input type="range" min="0.1" max="10" step="0.1" ng-model="query.distance.km" ng-change="query.distance.enabled = true; updateMarkers()" />
                        <span ng-bind-template="{{query.distance.km | kilometer }}"/>
                    </div>
                </section>
                <hr/>
                <section class="sortContainer flex-container-nowrap">
                    <div class="flex-container-wrap">
                        <h1>{{i18n.sortBy.header}}</h1>
                        <select ng-model="orderSelection" ng-change="updateOrder()">
                            <!-- TODO: Find out why in production (but not in dev mode) we need the value attribute even if it equals the text. -->
                            <option value="name">{{i18n.sortBy.name}}</option>
                            <option value="distance" ng-if="geolocation.marker.map">{{i18n.sortBy.distance}}</option>
                            <option value="distance" ng-if="!geolocation.marker.map" ng-disabled="true" title="{{i18n.sortBy.distanceRequiresGeolocation}}">{{i18n.sortBy.distance}}</option>
                        </select>
                    </div>
                    <div>{{filteredMarkers.length + i18n.resultsLength + locations.length}}</div>
                </section>
            </form>
            <ul class="resultsList">
                <li ng-repeat="marker in filteredMarkers | orderBy : order : false : localeSensitiveComparator" id="{{marker.location.id}}">
                    <div class="locationHeadingContainer flex-container-nowrap">
                        <h1>
                            <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.location.name}}</a>
                        </h1>
                        <div>
                            <img 
                                ng-click="openInfoWindow($event, marker)"
                                title="{{i18n.showOnMap}}" 
                                src="{{getMarkerImageUrl(marker.location)}}" 
                                style="height: 25px; width: auto; position:relative; bottom: -6px;"
                            />
                        </div>
                    </div>
                    <div>
                        <span>{{formatTags(marker.location.tags)}}</span>
                        <span title="{{i18n.enums.veganCategory.verbose[marker.location.getVeganCategory()]}}">
                            ({{i18n.enums.veganCategory.concise[marker.location.getVeganCategory()]}})
                        </span>
                    </div>
                    <div class="addressWithDistanceContainer flex-container-nowrap">
                        <div>{{marker.location.address}}</div>
                        <div ng-show="geolocation.marker.map">
                        <!-- 
                            Even when not shown because geolocation.marker.map is undefined/null, the following 
                            expression gets evaluated, so we use the dummy value 0 to prevent an error when trying 
                            to get the distance when geolocation.marker.map is undefined/null.
                            If one could prevent AngularJS from evaluating, would be more elegant. 
                            No idea if this is possible.
                        -->
                        {{ 
                            geolocation.marker.position ? marker.location.getDistanceToPositionInKm(geolocation.marker.position) : 0
                            | 
                            kilometer
                        }}
                        </div>
                    </div>
                    <div>
                        <span>{{marker.location.openingTimes.getTodayFriendly()}}</span>
                        <span ng-show="marker.location.openComment" 
                            title={{marker.location.getOpenComment()}} 
                            ng-click="display.expandOpenComments = !display.expandOpenComments"
                        >
                            <span class="fa fa-info-circle"></span>
                            <span ng-show="display.expandOpenComments">{{marker.location.getOpenComment()}}</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-right" ng-class="{fullMapView: fullMapView}">
            <div id="map"></div>
        </div>
    </main>
</div>
