<div class="main">
    <app-header
        [fullMapView]="fullMapView"
        (searchClick)="scrollSearchIntoView()"
        (fullMapViewClick)="enableFullMapView()"
    ></app-header>
    <main class="flex-container-nowrap">
        <div class="col-left" [hidden]="fullMapView">
            <div id="pre-search-div"></div>
            <nav>
                <button [disabled]="isGastro" (click)="initGastro()">{{i18n.locationSwitch.gastro}}</button>
                <button [disabled]="!isGastro" (click)="initShopping()">{{i18n.locationSwitch.shopping}}</button>
            </nav>
            <app-search
                (queryChange)="onQueryChange($event)"
                (geopositionChange)="onGeopositionChange($event)"
                (geopositionHighlightRequest)="onGeopositionHighlightRequest()"
            ></app-search>
            <hr/>
            <div class="sortFormAndStatisticsContainer flex-container-nowrap">
                <app-sort
                    [initialSortOrder]="sortOrder"
                    [isDistanceEnabled]="!!geoPosition"
                    (sortOrderChange)="onSortOrderChange($event)"
                ></app-sort>
                <app-statistics
                    [allLocationsCount]="allLocations.length"
                    [filteredLocationsCount]="filteredLocations.length"
                ></app-statistics>
            </div>
            <hr class="fat"/>
            <app-results-list
                [locations]="filteredLocations"
                [geoPosition]="geoPosition"
                (locationSelect)="onLocationSelectInResultsList($event)"
            ></app-results-list>
        </div>
        <div class="col-right" [ngClass]="{fullMapView: fullMapView}">
            <app-google-map
                [locations]="filteredLocations"
                [geoPosition]="geoPosition"
                (locationSelect)="onLocationSelectInGoogleMap($event)"
            ></app-google-map>
        </div>
    </main>
</div>
