<!-- (swiperight)="{}" is a workaround for a problem with Chrome on Android. -->
<div class="outer flex-container-nowrap" (swiperight)="{}">
    <div class="content-column" (swiperight)="{}">
        <article>
            <header class="flex-container-nowrap">
                <div class="title-with-website" [style.width]="place && place.coordinates ? '55%' : '100%'">
                    <h1>
                        <a
                            title="{{i18n.showOnMap}}"
                            href=""
                            role="button"
                            (click)="$event.preventDefault(); centerLocation.emit($event)"
                        >{{location.name}}</a>
                    </h1>
                    <a *ngIf="location.website"
                        [href]="location.website"
                        [title]="location.website"
                        aria-label="Website"
                    ><span class="fas fa-globe-americas" aria-hidden="true"></span></a>
                </div>
                <div *ngIf="place && place.coordinates" class="coordinates" [style.width]="'45%'">
                    <span></span>
                    <span>{{i18n.infoBox.distance}}:
                    {{location.getDistanceToCoordinatesInKm(place.coordinates) | kilometer}}</span>
                </div>
            </header>
            <div class="flex-container">
                <div>
                    <p>{{location.tagsFriendly}} ({{i18n.enums.veganCategory.verbose[location.veganCategory]}})</p>
                    <p>
                        <app-address [location]="location" [place]="place"></app-address>
                    </p>
                    <p *ngIf="location.telephone">
                        {{i18n.infoBox.phone}}:
                        <a *ngIf="isPhone; else justTelephone" href="tel:{{location.telephone}}">{{location.telephone}}</a>
                        <ng-template #justTelephone>{{location.telephone}}</ng-template>
                    </p>
                    <p [innerHTML]="openingTimesInnerHtml"></p>
                    <p *ngIf="location.localizedOpenComment">{{location.localizedOpenComment}}</p>
                    <p *ngIf="comment">{{comment}}</p>
                    <p *ngIf="location.reviewURL">
                        <a [href]="location.reviewURL">{{i18n.infoBox.review}}</a>
                    </p>
                </div>
                <div *ngIf="galleryImages" aria-hidden="true">
                    <p>
                        <ngx-gallery [images]="galleryImages" [options]="galleryOptions"></ngx-gallery>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="close-column">
        <div
            class="button"
            role="button"
            [attr.aria-label]="i18n.infoBox.close"
            (click)="close.emit()"
        >
            <span class="fas fa-times" aria-hidden="true"></span>
        </div>
    </div>
</div>
