@import "variables";

.outer, .content-column, .close-column {
    padding: 6px;
}

.outer {
    border: 0.06em solid $bv-green;
    height: calc(100% - 0.06em);
}

.content-column {
    width: 100%;
    overflow-y: auto;
}

header {
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    border-bottom: 0.06em solid $bv-green;

    .title-with-website {
        > * {
            display: inline;
            font-size: 1.2em;
            font-weight: 500;
            padding: 0;
            margin: 0 0.2em 0 0;
        }
    }

    .coordinates {
        text-align: right;
        white-space: nowrap;
        span:nth-of-type(1) {
            font-size: 1.2em; // We need this for vertical alignment of following span.
        }
        span:nth-of-type(2) {
            white-space: normal;
        }
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    
    > div:nth-of-type(1) {
        flex: 60;
    }

    > div:nth-of-type(2) {
        flex: 40;
    }

    @media #{$min-width-4} {
        flex-direction: row; // Keep this in sync with code.
    }
}

.button {
    display: inline;

    span {
        color: gray;
        cursor: pointer;
    }
}

p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
