@import "variables";

.outer, .content-column, .close-column {
    padding: 6px;
}

.outer {
    border: 0.06em solid $bv-green;
    height: calc(100% - 0.06em);
}

.contentColumn {
    width: 100%;
    overflow-y: auto;
}

.button {
    display: inline;

    span {
        color: gray;
        cursor: pointer;
    }
}
