@import "variables";

div {
    padding: 6px;
}

.outer {
    border: 0.06em solid $bv-green;
    height: calc(100% - 0.06em);
}

.contentColumn {
    width: 100%;
    overflow-y: auto;
}

span {
    color: gray;
    cursor: pointer;
}
