<div *ngIf="isGeolocationSupported">
    <div class="flex-container-wrap">
        <label>
            <input
                type="checkbox"
                name="checkbox"
                [(ngModel)]="isChecked"
                (change)="onChange()"
            /><span 
                *ngIf="!coordinates"
            >{{i18n.geolocation.header}}:
            </span><a 
                *ngIf="coordinates" 
                href="#" 
                (click)="$event.preventDefault(); highlightRequest.emit()"
            >{{i18n.geolocation.header}}:
            </a>
        </label>
        <button (click)="detectCoordinates()">{{i18n.geolocation.detectButton}}</button>
        <app-place-select
            [placeholder]="i18n.geolocation.placeSelectPlaceholder"
            (coordinatesChange)="selectCoordinates($event)"
        ></app-place-select>
    </div>
    <div>
        <img *ngIf="info === i18n.geolocation.detecting" src="assets/images/ajax-loader.gif"/>
        <span>{{info}}</span>
        <span class="error">{{error}}</span>
    </div>
</div>
