<div *ngIf="isGeolocationSupported">
    <div class="flex-container-wrap">
        <label>
            <input
                type="checkbox"
                name="checkbox"
                [(ngModel)]="isChecked"
                (change)="onCheckboxChange()"
            /><span
                *ngIf="!place"
            >{{i18n.geolocation.header}}:
            </span><a
                *ngIf="place"
                href="#"
                (click)="$event.preventDefault(); highlightRequest.emit()"
            >{{i18n.geolocation.header}}:
            </a>
        </label>
        <span *ngIf="isDetecting">&nbsp;{{i18n.geolocation.latest}}&nbsp;</span>
        <button *ngIf="!isDetecting" (click)="detectPlace()">{{i18n.geolocation.detectButton}}</button>
        <app-place-select
            [placeholder]="i18n.geolocation.placeSelectPlaceholder"
            [place]="place"
            (placeChange)="onPlaceChange($event)"
        ></app-place-select>
    </div>
    <div>
        <span *ngIf="info === i18n.geolocation.detecting" class="fas fa-spinner fa-spin" aria-hidden="true"></span>
        <span>{{info}}</span>
        <span class="error">{{error}}</span>
    </div>
</div>
