<div>
    <app-header [showingSettings]="true"></app-header>
    <main>
        <p>
            <button (click)="onBackButtonClick()">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
                {{i18n.settings.backButtonText}}
            </button>
        </p>
        <h1>{{i18n.settings.heading}}</h1>
        <p *ngIf="!isLocalStorageAvailable" class="warning">{{i18n.settings.noLocalStorageWarning}}</p>
        <form name="searchForm">
            <label>
                <input
                    type="checkbox"
                    name="rememberLastQuery"
                    [(ngModel)]="localStorageService.settings.rememberLastQuery"
                    (change)="onQueryChange()"
                />{{i18n.settings.rememberLastQuery}}
            </label>
            <br/>
            <label>
                <input
                    type="checkbox"
                    name="showPictures"
                    [(ngModel)]="localStorageService.settings.showPictures"
                    (change)="onQueryChange()"
                />{{i18n.settings.showPictures}}
            </label>
        </form>
    </main>
</div>
