<header class="flex-container-wrap">
    <div class="imgContainer flex-container-nowrap">
        <div>
            <a href="https://www.berlin-vegan.de/" target="_self">
                <img src="assets/images/bv-header-left.png" alt="Berlin-Vegan" title="Berlin-Vegan"/>
            </a>
        </div>
        <div class="flex-container-nowrap">
            <div></div>
            <div></div>
        </div>
    </div>
    <nav class="flex-container-nowrap">
        <div class="col-1">
            <button
                [title]="i18n.header.searchButtonTitle"
                [attr.aria-label]="i18n.header.searchButtonTitle"
                (click)="searchClick.emit()"
                [disabled]="searchButtonIsDisabled"
            >
                <span class="fas fa-search" aria-hidden="true"></span>
            </button>
            <button
                [title]="i18n.header.fullMapViewbuttonTitle"
                [attr.aria-label]="i18n.header.fullMapViewbuttonTitle"
                (click)="fullMapViewClick.emit()"
                [disabled]="fullMapViewButtonIsDisabled"
            >
                <span class="far fa-map" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-2">
            <div *ngIf="hasMobileSize">
                <a
                    class="menu-button"
                    mat-button
                    [matMenuTriggerFor]="menu"
                    href=""
                    (click)="$event.preventDefault()"
                    role="button"
                    [attr.aria-label]="i18n.header.menu"
                >
                    <span class="fas fa-bars" aria-hidden="true"></span>
                    <span class="active-link" aria-hidden="true">{{i18n.header[pathName]}}</span>
                </a>
                <mat-menu #menu="matMenu">
                    <a *ngFor="let path of paths" mat-menu-item routerLink="/{{path.name}}" routerLinkActive="active-link"
                    ><span class="fas {{path.faClass}}" aria-hidden="true">&nbsp;</span>{{i18n.header[path.name]}}</a>
                    <a mat-menu-item href="https://www.berlin-vegan.de/bv-guide/"
                    ><span class="fas fa-mobile-alt" aria-hidden="true">&nbsp;</span>{{i18n.header.nativeApp}}</a>
                    <a mat-menu-item href="https://data.berlin-vegan.de/gastro-submit/"
                    ><span class="fas fa-edit" aria-hidden="true">&nbsp;</span>{{i18n.header.reportNewLocation}}</a>
                    <a mat-menu-item href="mailto:karte@berlin-vegan.de"
                    ><span class="fas fa-envelope" aria-hidden="true">&nbsp;</span>{{i18n.header.reportProblem}}</a>
                </mat-menu>
            </div>
            <ul *ngIf="!hasMobileSize">
                <li *ngFor="let path of paths">
                    <a routerLink="/{{path.name}}" routerLinkActive="active-link"
                    ><span class="{{path.faClass}}" aria-hidden="true">&nbsp;</span>{{i18n.header[path.name]}}</a>
                </li><li><!-- No space between lis -->
                    <a href="https://www.berlin-vegan.de/bv-guide/"
                    ><span class="fas fa-mobile-alt" aria-hidden="true">&nbsp;</span>{{i18n.header.nativeApp}}</a>
                </li><li><!-- No space between lis -->
                    <a href="https://data.berlin-vegan.de/gastro-submit/"
                    ><span class="fas fa-edit" aria-hidden="true">&nbsp;</span>{{i18n.header.reportNewLocation}}</a>
                </li><li><!-- No space between lis -->
                    <a href="mailto:karte@berlin-vegan.de"
                    ><span class="fas fa-envelope" aria-hidden="true">&nbsp;</span>{{i18n.header.reportProblem}}</a>
                </li>
            </ul>
        </div>
        <ul class="col-3">
            <li>
                <span *ngIf="language === 'de'" class="selectedLanguage">{{i18n.header.language.de}}</span>
                <a
                    *ngIf="language !== 'de'"
                    href=""
                    (click)="$event.preventDefault(); localStorageService.setLanguage('de')"
                >{{i18n.header.language.de}}</a>
            </li>
            <li>
                <span *ngIf="language === 'en'" class="selectedLanguage">{{i18n.header.language.en}}</span>
                <a
                    *ngIf="language !== 'en'"
                    href=""
                    (click)="$event.preventDefault(); localStorageService.setLanguage('en')"
                >{{i18n.header.language.en}}</a>
            </li>
        </ul>
    </nav>
</header>
