<header class="flex-container-wrap">
    <div class="imgContainer flex-container-nowrap">
        <div>
            <a href="https://www.berlin-vegan.de/">
                <img src="assets/images/bv-header-left.png" alt="Berlin-Vegan" title="Berlin-Vegan"/>
            </a>
        </div>
        <div class="flex-container-nowrap">
            <div></div>
            <div></div>
        </div>
    </div>
    <nav class="flex-container-nowrap">
        <div>
            <button
                [title]="i18n.header.searchButtonTitle"
                [attr.aria-label]="i18n.header.searchButtonTitle"
                (click)="searchClick.emit()"
                [disabled]="searchButtonIsDisabled"
            >
                <span class="fas fa-search" aria-hidden="true"></span>
            </button>
            <button
                [title]="i18n.header.fullMapViewbuttonTitle"
                [attr.aria-label]="i18n.header.fullMapViewbuttonTitle"
                (click)="fullMapViewClick.emit()"
                [disabled]="fullMapViewButtonIsDisabled"
            >
                <span class="far fa-map" aria-hidden="true"></span>
            </button>
        </div>
        <ul>
            <li *ngFor="let path of paths">
                <a routerLink="/{{path.name}}" routerLinkActive="active-link">
                    <span class="{{path.faClass}}" aria-hidden="true"></span>
                    {{i18n.header[path.name]}}
                </a>
            </li>
            <li>
                <a 
                    mat-button
                    [matMenuTriggerFor]="contactSubmenu"
                    href=""
                    (click)="$event.preventDefault()"
                    role="button"
                >
                    <span class="fas fa-envelope" aria-hidden="true"></span>
                    {{i18n.header.contact}}
                </a>
                <mat-menu #contactSubmenu="matMenu">
                    <a
                        mat-menu-item
                        href="https://data.berlin-vegan.de/gastro-submit/"
                        target="_blank"
                        rel="noopener"
                    >
                        <span class="fas fa-edit" aria-hidden="true"></span>
                        {{i18n.header.reportNewLocation}}
                    </a>
                    <a
                        mat-menu-item
                        href="mailto:karte@berlin-vegan.de"
                        target="_blank"
                        rel="noopener"
                    >
                        <span class="fas fa-envelope" aria-hidden="true"></span>
                        {{i18n.header.reportProblem}}
                    </a>
                </mat-menu>
            </li>
        </ul>
        <ul>
            <li>
                <span *ngIf="language === 'de'" class="selectedLanguage">{{i18n.header.language.de}}</span>
                <a
                    *ngIf="language !== 'de'"
                    href=""
                    (click)="$event.preventDefault(); localStorageService.setLanguage('de')"
                >{{i18n.header.language.de}}</a>
            </li>
            <li>
                <span *ngIf="language === 'en'" class="selectedLanguage">{{i18n.header.language.en}}</span>
                <a
                    *ngIf="language !== 'en'"
                    href=""
                    (click)="$event.preventDefault(); localStorageService.setLanguage('en')"
                >{{i18n.header.language.en}}</a>
            </li>
        </ul>
    </nav>
</header>
