@import "variables";

.imgContainer {
    flex: 1;

    img {
        height: 7vh;
    }

    div:nth-of-type(2) {
        flex: 1;
    }

    div:nth-of-type(2) div:nth-of-type(1) {
        width: 21vh; /* 21 = 3 * 7. Indeed vh, not vw! */
        background-image: url("../../assets/images/bv-header-center.png");
        background-repeat: no-repeat;
        background-size: auto 7vh;
    }

    div:nth-of-type(2) div:nth-of-type(2) {
        flex: 1;
        background-image: url("../../assets/images/bv-header-right.png");
        background-repeat: repeat-x;
        background-size: auto 7vh;
    }
}

nav {
    width: 100%;
    align-items: flex-end;
    color: white;
    margin-top: -8px;
    padding-top: -8px;
    padding-bottom: 4px;
    background-color: $bv-green;

    .col-1 {
        width: 20%;
        text-align: left;
        padding-left: 0.3%;
    }

    .col-2 {
        width: 60%;
        text-align: center;
        text-transform: uppercase;
    }

    .col-3 {
        width: 20%;
        text-align: right;
        padding-right: 0.5%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        white-space: nowrap;
    }

    .col-2 li:not(:last-of-type)::after {
        content: '\00A0' // No-break space
    }

    .col-3 li:last-of-type::before {
        @media #{$min-width-1} {
            content: '|'
        }
    }

    a {
        color: white;
    }

    .active-link {
        color: $very-bright-green;
        pointer-events: none;
        cursor: default;
    }
}

.selectedLanguage {
    color: $very-bright-green;
    cursor: default;
}

.selectedLanguage {
    display: none;

    @media #{$min-width-1} {
      display: inline; /* initial is more elegant, but does not work in IE11. */
    }
}

button {
    font-size: 1.1em;
}
