section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.feature-col label {
    display: block;
}

.searchTextContainer input {
    flex: 1;
}

.distanceContainer input {
    flex: 1;
}

form {
    h1 {
        font-size: 1em;
        font-weight: normal;
        margin: 0; /* initial is more elegant, but does not work in IE11. */
    }

    h1:after {
        content: ":";
    }

    label {
        font-weight: normal;
        white-space: nowrap;
    }
}
