section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.features div {
    min-width: 34%;
}

.searchTextContainer input {
    flex: 1;
}

.distanceContainer input {
    flex: 1;
}

form {
    h1 {
        font-size: 1em;
        font-weight: normal;
        margin: 0; /* initial is more elegant, but does not work in IE11. */
    }

    h1:after {
        content: ":";
    }

    label {
        font-weight: normal;
        white-space: nowrap;
    }
}

app-text-clear {
    display: none;
}

@supports (-moz-appearance: none) { // It is Firefox.
    app-text-clear {
        display: initial;
    }
}
