section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.features div {
    min-width: 34%;
}

.searchTextContainer {
    align-items: center;

    app-text-clear {
        flex: 1;
    }
}

.distanceContainer {
    align-items: center;

    input {
        flex: 1;
    }
}

h1 {
    font-size: 1em;
    font-weight: normal;
    margin: 0; /* initial is more elegant, but does not work in IE11. */
}

h1:after {
    content: ":";
}

label {
    font-weight: normal;
    white-space: nowrap;
}
