<div class="row">
    <div class="col-sm-4 col-md-3 col-lg-3" id="leftCol" xstyle="width:200;">
        <form name="form" novalidate>
            <div>
                <label>
                    <input type="radio" name="display.search" ng-model="display.search" value="simple">Einfache Suche</input>
                </label>
                <label>
                    <input type="radio" name="display.search" ng-model="display.search" value="advanced">Erweiterte Suche</input>
                </label>
            </div>
            <hr style="margin: 0.2em auto;"/>
            <p>
                <input type="text" ng-model="query.text" placeholder="Suchtext" ng-change="updateMarkers()"/>
                <label ng-show="display.search==='advanced'">
                    <input type="checkbox" ng-model="query.textAppliesToNamesOnly" ng-change="updateMarkers()">Nur Namen durchsuchen</input>
                </label>
            </p>
            <p>
                Kategorie:
                <label ng-repeat="veganCategory in veganCategories">
                    <input type="checkbox" ng-model="query.veganCategories[veganCategory]" ng-change="updateMarkers()">{{veganCategory}}</input>
                </label>
            </p>
            <p>
                Art:
                <label ng-repeat="tag in tags">
                    <input type="checkbox" ng-model="query.tags[tag]" ng-change="updateMarkers()">{{tag}}</input>
                </label>
            </p>
            <p>
                <!-- TODO: Layout with CSS, not HTML table: -->
                <table style="width:100%" ng-show="display.search==='advanced'">
                    <tr>
                        <td><label><input type="checkbox" ng-model="query.organic" ng-change="updateMarkers()">Bioware</input></label></td>
                        <td><label><input type="checkbox" ng-model="query.glutenFree" ng-change="updateMarkers()">glutenfreie Speisen</input></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" ng-model="query.dog" ng-change="updateMarkers()">Hunde erlaubt</input></label></td>
                        <td><label><input type="checkbox" ng-model="query.childChair" ng-change="updateMarkers()">Kinderstuhl</input></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" ng-model="query.handicappedAccessible" ng-change="updateMarkers()">Rollstuhlgeeignet</input></label></td>
                        <td><label><input type="checkbox" ng-model="query.handicappedAccessibleWc" ng-change="updateMarkers()">Rollstuhlgeeignetes WC</input></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" ng-model="query.delivery" ng-change="updateMarkers()">Lieferdienst</input></label></td>
                        <td><label><input type="checkbox" ng-model="query.catering" ng-change="updateMarkers()">Catering</input></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" ng-model="query.wlan" ng-change="updateMarkers()">WLAN</input></label></td>
                        <td><label><input type="checkbox" ng-model="query.review" ng-change="updateMarkers()">Mit Rezension</input></label></td>
                    </tr>
                </table>
            </p>
            <p ng-show="display.search==='advanced'">
                Geöffnet:
                <span ng-hide="query.openNow">
                    <select ng-model="query.openAtWeekDay" ng-change="updateMarkers()">
                        <option value="Alle Wochentage">Alle Wochentage</option>
                        <option ng-repeat="i in [1, 2, 3, 4, 5, 6, 0]" value="{{i}}">{{friendlyDayStrings[i]}}</option>
                    </select>
                    <input 
                        name="openAtTimeInput" 
                        type="time" 
                        ng-model="query.openAtTime" 
                        placeholder="hh:mm (Uhrzeit)" 
                        ng-disabled="query.openAtWeekDay === 'Alle Wochentage'" 
                        ng-change="updateMarkers()" 
                        size="15" 
                        maxlength="5"
                    />
                </span>
                <span ng-show="query.openNow">
                    <select ng-disabled="true">
                        <option>-Heute-</option>
                        <option>Alle Wochentage</option><!-- So this select element gets the same size as the "real" select element.-->
                    </select>
                    <input type="time" placeholder="-Jetzt-" ng-disabled="true" size="15"/>
                </span>
                <label>
                    <input type="checkbox" ng-model="query.openNow" ng-change="updateMarkers()">Jetzt</input>
                </label>
                <span class="error" ng-show="form.openAtTimeInput.$error.time">Ungültige Zeit (wird ignoriert); Format: hh:mm</span>
            </p>
            <p ng-show="display.search==='advanced'">
                <select ng-model="query.district" ng-change="updateMarkers()">
                    <!-- TODO: Find out why in production (but not in dev mode) we need the value attribute even if it equals the text. -->
                    <option ng-repeat="district in districts" value="{{district}}">{{district}}</option>
                </select>
            </p>
            <p ng-show="geolocation.supported">
                <div>
                    <label>
                        <input type="checkbox" ng-model="geolocation.show" ng-change="updateGeolocationMarker()">
                            <span ng-hide="geolocation.marker.map">Standorterkennung</span>
                            <a ng-show="geolocation.marker.map" href="#" ng-click="openInfoWindow($event, geolocation.marker)">Standorterkennung</a> 
                        </input>
                    </label>
                </div>
                <div>
                    <img ng-show="geolocation.info === 'Ermittle Standort...'" src="assets/images/ajax-loader.gif"/>
                    <span ng-bind="geolocation.info"></span>
                    <span ng-bind="geolocation.error" class="error"></span>
                </div>
                <div ng-show="display.search==='advanced' && geolocation.marker.map">
                    <label>
                        <input type="checkbox" ng-model="query.distance.enabled" ng-change="updateMarkers()">Entfernung:</input>
                    </label>
                    <input type="range" min="0.1" max="10" step="0.1" ng-model="query.distance.km" ng-change="query.distance.enabled = true; updateMarkers()" />
                    <span ng-bind-template="{{query.distance.km | number : 1}} km"/>
                </div>
            </p>
            <hr style="margin: 0.1em auto;"/>
            <p>
                <!-- TODO: Layout with CSS, not HTML table: -->
                <table style="width:100%">
                    <tr>
                        <td>
                            Sortierung:
                            <select ng-model="orderSelection" ng-change="updateOrder()">
                                <!-- TODO: Find out why in production (but not in dev mode) we need the value attribute even if it equals the text. -->
                                <option value="Name">Name</option>
                                <option value="Entfernung" ng-show="geolocation.marker.map">Entfernung</option>
                                <option value="Entfernung" ng-hide="geolocation.marker.map" ng-disabled="true" title="Standorterkennung erforderlich">Entfernung</option>
                            </select>
                        </td>
                        <td style="text-align:right;">{{filteredMarkers.length}} Treffer von {{locations.length}}</td>
                    </tr>
                </table>
            </p>
        </form>
        <div id="class" ng-repeat="marker in filteredMarkers | orderBy : [order, 'location.name']">
            <hr style="margin: 0.3em auto;"/>
            <h4 style="margin: 0.3em auto;">
                <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.location.name}}</a>
            </h4>
            <div><span>{{marker.location.tags.join(", ")}}</span> (<span>{{marker.location.getVeganCategoryFriendly(true)}}</span>)</div>
            <!-- TODO: Layout with CSS, not HTML table: -->
            <table style="width:100%;">
                <tr>
                    <td>{{marker.location.street}} {{marker.location.cityCode}} {{marker.location.district}}</td>
                    <td ng-show="geolocation.marker.map" style="text-align:right;">
                    <!-- 
                        Even when not shown because geolocation.marker.map is undefined/null, the following 
                        expression gets evaluated, so we use the dummy value 0 to prevent an error when trying 
                        to get the distance when geolocation.marker.map is undefined/null.
                        If one could prevent AngularJS from evaluating, would be more elegant. 
                        No idea if this is possible.
                    -->
                    {{ 
                        geolocation.marker.position ? marker.location.getDistanceToPositionInKm(geolocation.marker.position) : 0
                        | 
                        number : 1
                    }}&nbsp;km
                    </td>
                </tr>
            </table>
            <div>
                <span>{{marker.location.getOpeningTimeTodayFriendly()}}</span>
                <span ng-show="marker.location.openComment" 
                    title={{marker.location.openComment}} 
                    ng-click="display.expandOpenComments = !display.expandOpenComments"
                >
                    <img width="18" height="18" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Exquisite-khelpcenter.png"/>
                    <span ng-show="display.expandOpenComments">{{marker.location.openComment}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9" style="position:fixed;top:0;right:0;">
        <div id="map" style="width: auto;height: 700px;"></div>
        <div>Die Karte umfasst insgesamt <b>{{locations.length}}</b> Restaurants/Cafés usw. Die veganen Speisen sind deklariert. </div>
        <p>Probleme und Verbesserungsvorschläge bitte an: <a href="mailto:karte@berlin-vegan.de">karte@berlin-vegan.de</a></p>
    </div>
</div>

