<div class="row">
    <div class="col-sm-4 col-md-3 col-lg-3" id="leftCol" xstyle="width:200;">
        <form name="form" novalidate>
            <p>
                <input type="text" ng-model="query.text" placeholder="Suchtext" ng-change="updateMarkers()"/>
                <input type="checkbox" ng-model="query.textAppliesToNamesOnly" ng-change="updateMarkers()">Nur Namen durchsuchen</input>
            </p>
            <p>
                Kategorie:
                <span ng-repeat="veganCategory in veganCategories">
                    <input type="checkbox" ng-model="query.veganCategories[veganCategory]" ng-change="updateMarkers()">{{veganCategory}}</input>
                </span>
            </p>
            <p>
                Art der Lokalität:
                <span ng-repeat="tag in tags">
                    <input type="checkbox" ng-model="query.tags[tag]" ng-change="updateMarkers()">{{tag}}</input>
                </span>
            </p>
            <p>
                <!--input type="checkbox" ng-model="query.openNow" ng-change="updateMarkers()">Jetzt geöffnet</input-->
                <input type="checkbox" ng-model="query.organic" ng-change="updateMarkers()">Bioware</input>
                <input type="checkbox" ng-model="query.glutenFree" ng-change="updateMarkers()">glutenfreie Speisen</input>
                <input type="checkbox" ng-model="query.handicappedAccessible" ng-change="updateMarkers()">Rollstuhlgeeignet</input>
                <input type="checkbox" ng-model="query.handicappedAccessibleWc" ng-change="updateMarkers()">Rollstuhlgeeignetes WC</input>
                <input type="checkbox" ng-model="query.dog" ng-change="updateMarkers()">Hunde erlaubt</input>
                <input type="checkbox" ng-model="query.wlan" ng-change="updateMarkers()">WLAN</input>
                <input type="checkbox" ng-model="query.childChair" ng-change="updateMarkers()">Kinderstuhl</input>
                <input type="checkbox" ng-model="query.catering" ng-change="updateMarkers()">Catering</input>
                <input type="checkbox" ng-model="query.delivery" ng-change="updateMarkers()">Lieferdienst</input>
                <input type="checkbox" ng-model="query.review" ng-change="updateMarkers()">Mit Rezension</input>
            </p>
            <p>
                Geöffnet:
                <span ng-hide="query.openNow">
                    <select ng-model="query.openAtWeekDay" ng-change="updateMarkers()">
                        <option value="Alle Wochentage">Alle Wochentage</option>
                        <option value="1">Montag</option>
                        <option value="2">Dienstag</option>
                        <option value="3">Mittwoch</option>
                        <option value="4">Donnerstag</option>
                        <option value="5">Freitag</option>
                        <option value="6">Samstag</option>
                        <option value="0">Sonntag</option>
                    </select>
                    <input 
                        name="openAtTimeInput" 
                        type="time" 
                        ng-model="query.openAtTime" 
                        placeholder="hh:mm (Uhrzeit)" 
                        ng-disabled="query.openAtWeekDay === 'Alle Wochentage'" 
                        ng-change="updateMarkers()" 
                        size="15" 
                        maxlength="5"
                    />
                </span>
                <span ng-show="query.openNow">
                    <select ng-disabled="true">
                        <option>-Heute-</option>
                        <option>Alle Wochentage</option><!-- So this select element gets the same size as the "real" select element.-->
                    </select>
                    <input type="time" placeholder="-Jetzt-" ng-disabled="true" size="15"/>
                </span>
                <input type="checkbox" ng-model="query.openNow" ng-change="updateMarkers()">Jetzt</input>
                <span class="error" ng-show="form.openAtTimeInput.$error.time">Ungültige Zeit (wird ignoriert); Format: hh:mm</span>
            </p>
            <p>
                <select ng-model="query.district" ng-change="updateMarkers()">
                    <option ng-repeat="district in districts">{{district}}</option>
                </select>
            </p>
            <p ng-show="geolocation.supported">
                <div>
                    <input type="checkbox" ng-model="geolocation.show" ng-change="updateGeolocationMarker()">
                        <span ng-hide="geolocation.marker.map">Standorterkennung</span>
                        <a ng-show="geolocation.marker.map" href="#" ng-click="openInfoWindow($event, geolocation.marker)">Standorterkennung</a> 
                    </input>
                </div>
                <div>
                    <span ng-bind="geolocation.info"></span>
                    <span ng-bind="geolocation.error" class="error"></span>
                </div>
                <div ng-show="geolocation.marker.map">
                    <input type="checkbox" ng-model="query.distance.enabled" ng-change="updateMarkers()">Entfernung zum Standort:</input>
                    <input type="range" min="0.1" max="10" step="0.1" ng-model="query.distance.km" ng-change="query.distance.enabled = true; updateMarkers()" />
                    <span ng-bind-template="{{query.distance.km | number : 1}} km"/>
                </div>
            </p>
            <hr/>
            <p>
                Sortierung:
                <select ng-model="orderSelection" ng-change="updateOrder()">
                    <option>Name</option>
                    <option ng-show="geolocation.marker.map">Entfernung</option>
                    <option ng-hide="geolocation.marker.map" ng-disabled="true" title="Standorterkennung erforderlich">Entfernung</option>
                </select>
            </p>
        </form>
        <p>{{filteredMarkers.length}} Treffer von insgesamt {{locations.length}} Einträgen</p>
        <div id="class" ng-repeat="marker in filteredMarkers | orderBy : [order, 'location.name']">
            <hr/>
            <p>
                <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.location.name}}</a>
            </p>
            <p><span>{{marker.location.tags.join(", ")}}</span> (<span>{{marker.location.getVeganCategoryFriendly(true)}}</span>)</p>
            <p>{{marker.location.street}} {{marker.location.cityCode}} {{marker.location.district}}</p>
            <p ng-show="geolocation.marker.map">
                <!-- 
                    Even when not shown because geolocation.marker.map is undefined/null, the following 
                    expression gets evaluated, so we use the dummy value 0 to prevent an error when trying 
                    to get the distance when geolocation.marker.map is undefined/null.
                    If one could prevent AngularJS from evaluating, would be more elegant. 
                    No idea if this is possible.
                -->
                Entfernung: 
                {{ 
                    geolocation.marker.position ? marker.location.getDistanceToPositionInKm(geolocation.marker.position) : 0
                    | 
                    number : 1
                }} 
                km
            </p>
            <p>{{marker.location.getOpeningTimeTodayFriendly()}}</p>
        </div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9" style="position:fixed;top:0;right:0;">
        <div id="map" style="width: auto;height: 700px;"></div>
        <div>Die Karte umfasst insgesamt <b>{{locations.length}}</b> Restaurants/Cafés usw. Die veganen Speisen sind deklariert. </div>
    </div>
</div>

